section 
{
    margin-left: auto;  
    margin-right: auto; 
} 
html
{
    background-image: linear-gradient(rgb(255, 255, 255), rgb(93, 94, 95)); 
    background-repeat: no-repeat; 
}
header.headerLogo 
{
    background-image: url(../stylesheets/TravelThroughGalaxyLogo.ENDVERSION.png); 
    background-repeat: no-repeat;  
    background-position: center;  
    padding-bottom: 0px; 
    text-align: right; 
    font-family: Arial;  
    text-decoration: none; 
} 
header a
{
    font-size: 25px; 
}
nav.impressum 
{
    border-top-style: solid; 
    border-top-color: black; 
    border-top-width: 3px; 
    border-bottom-style: solid; 
    border-bottom-color: black; 
    border-bottom-width: 3px; 
    border-left-style: solid; 
    border-left-color: black; 
    border-left-width: 3px; 
    border-right-style: solid; 
    border-right-color: black; 
    border-right-width: 3px; 
    border-radius: 15px; 
    overflow: hidden; 
    text-align: center; 
    font-size: 30px; 
    text-decoration: none; 
    font-family: Arial; 
    font-weight: bold; 
    color: red; 
    background-image: radial-gradient(lightblue, rgb(99, 99, 185))
}
section 
{
    text-align: center; 
    font-size: 18px; 
    text-decoration: none; 
    font-family: Arial; 
    font-weight: bold; 
}
section.Main
{
    text-align: left; 
    font-size: 18px; 
    text-decoration: none; 
    font-family: Arial; 
    font-weight: normal; 
}
footer.impressum 
{
    border-top-style: solid; 
    border-top-color: black; 
    border-top-width: 1px; 
    font-size: 20, 100; 
    text-align: center; 
    padding-top: 25px; 
    padding-bottom: 50px; 
    font-size: 25px; 
    text-decoration: none; 
    font-weight: none; 
    font-style: none; 
    font-family: Arial; 
}
p.description
{
    font-size: 21px; 
    font-style: italic; 
    font-weight: bold; 
}
p.Registrationslink 
{
    font-size: 25px; 
    text-align: center; 
    font-weight: normal; 
    font-style: italic; 
}
p.loggedIN
{
    text-align: center; 
}
p.articles
{
    text-align: left; 
    font-size: 22px; 
}
p.profil
{
    text-align: center; 
    font-size: 25; 
    text-decoration: none; 
    font-weight: none; 
    font-style: none; 
    font-family: Arial; 
}
label
{
    font-size: 20px; 
    min-width: 140px; 
    display: inline-block; 
}
h1.userarticle
{
    font-weight: bold; 
    font-size: 40px; 
    text-align: center; 
    font-family: Arial; 
    text-decoration: underline; 
    color: orangered; 
}
table.profil, th.profil, td.profil
{
    border: 1px solid black;
    border-collapse: collapse;
    font-family: Verdana;
    font-size: 1em;
    text-align: center;
    padding: 5px;
    margin-left: auto; 
    margin-right: auto; 
}
footer.ScARe 
{
    border-top-style: solid; 
    border-top-color: black; 
    border-top-width: 1px; 
}
footer.ScARe th 
{
    width: 500px; 
    text-align: center; 
    padding-top: 25px; 
    padding-bottom: 50px; 
    font-size: 21px; 
    text-decoration: none; 
    font-weight: none; 
    font-style: none; 
    font-family: Arial; 
}
footer.ScARe p
{
    text-align: center; 
    font-size: 22px; 
    text-decoration: none; 
    font-weight: none; 
    font-style: none; 
    font-family: Arial; 
    padding-top: 25px; 
    padding-bottom: 50px; 
}
nav 
{
    border-top-style: solid; 
    border-top-color: black; 
    border-top-width: 3px; 
    border-bottom-style: solid; 
    border-bottom-color: black; 
    border-bottom-width: 3px; 
    border-left-style: solid; 
    border-left-color: black; 
    border-left-width: 3px; 
    border-right-style: solid; 
    border-right-color: black; 
    border-right-width: 3px; 
    border-radius: 15px; 
    overflow: hidden; 
    text-align: center; 
    font-size: 30px; 
    text-decoration: none; 
    font-family: Arial; 
    font-weight: bold; 
    color: red; 
    background-image: radial-gradient(lightblue, rgb(99, 99, 185))
}
section h1 
{
    font-weight: bold; 
    font-size: 40px; 
    text-align: center; 
    font-family: Arial; 
    text-decoration: underline; 
    color: orangered; 
}
section p
{
    font-size: 29px; 
    font-family: Arial; 
    text-decoration: none; 
    color: black; 
}
section.Impressum 
{
    border-top-style: solid; 
    border-top-color: black; 
    border-top-width: 1px; 
}
section.Impressum th {
    width: 500px; 
    text-align: center; 
    padding-top: 25px; 
    padding-bottom: 50px; 
    font-size: 17px; 
    text-decoration: none; 
    font-weight: none; 
    font-style: none; 
    font-family: Arial; 
}
td.download {
    border-color: black; 
    border-width: 10px; 
}
tr.download {
    border: 1px; 
    border-color: black; 
}
a.hovertext:link, a.hovertext:visited {color: rgb(255, 0, 0); text-decoration: none;}
a.hovertext:hover {color: rgb(145, 255, 0);}

section.Cookies {
    text-align: center; 
}